@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'vazir-f';
    font-style: normal;
    font-weight: 100;
    src: url('/font/Vazir-Thin-FD-WOL-UI.woff2');
}

@font-face {
    font-family: 'vazir-f';
    font-style: normal;
    font-weight: 300;
    src: url('/font/Vazir-Light-FD-WOL-UI.woff2');
}

@font-face {
    font-family: 'vazir-f';
    font-style: normal;
    font-weight: 400;
    src: url('/font/Vazir-Regular-FD-WOL-UI.woff2');
}

@font-face {
    font-family: 'vazir-f';
    font-style: normal;
    font-weight: 500;
    src: url('/font/Vazir-Medium-FD-WOL-UI.woff2');
}


@font-face {
    font-family: 'vazir-f';
    font-style: normal;
    font-weight: 800;
    src: url('/font/Vazir-Black-FD-WOL-UI.woff2');
}

@font-face {
    font-family: 'vazir-f';
    font-style: bold;
    font-weight: 900;
    src: url('/font/Vazir-Bold-FD-WOL-UI.woff2');
}



.vazir {
    font-family: 'vazir-f' !important;
}